.Diet{
    background-color: #FFAD85;
}

.Diet2{
    background-color: #FFE0D0;
}
ul{
    list-style-position: inside;
}
.Diet3{
    background-color: #C9FFB8;
}
.Diet4{
    background-color: #B8B8FF;
}
.Diet5{
    background-color: #FBFFB8;
}
.Diet6{
    background-color: #E4C4FF;
}
.Diet7{
    background-color: #D1FFFC;
}
.Diet8{
    background-color: #FEF7D4;
}

